@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #F8F9FA;
}
.logo{
    width: 10rem;
}
.main-image{
    border-radius: 50%;
    width:40rem;
}
.earth{
    width: 20rem;
    border-radius: 50%;
}

.methods{
    width: 20rem;

}