<!-- <div class="my-16 mx-auto text-center">
    <h2>Log in</h2>
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit(logInForm.value)">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>User name</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>
      </p>
      <p>
        <button mat-flat-button color="primary" type="submit" cdkFocusInitial>LOG IN</button>
      </p>
    </form>
   </div> -->

 <body>
    

   <nav class="container mx-auto p-2">
    <div class="flex items-center justify-between">
      <div class="logo">
  <a href="">
        <img src="../assets/img/new-world-game_adobe_express.svg" alt="">
    </a>
      </div>

    </div>
  </nav>

  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> <br>

    <!-- LOGIN FORM -->
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit(logInForm.value)" class="form-signin" ngNativeValidate>
         <p class="text-red-500 mb-2"> {{ errorMessage }}</p>
        <input type="text" id="username" name="username"   formControlName="username"class="px-4 border-solid border-2 border-teal-500 py-2 m-2 rounded-full " placeholder="Username"  required>
        <input type="password" id="password" name="password" formControlName="password" class="px-4 border-solid border-2 border-teal-500 py-2 m-2 rounded-full" placeholder="Password"  required>

        <button class="p-2 px-5 pt-2 my-2 mx-5 text-white text-center
        bg-teal-600 rounded-full baseline hover:bg-teal-800" type="submit">Sign In</button>
    </form><!-- /form -->

    <a href="" class="mr-6 underline">
        Forgot password?
    </a>
    <br>
    <p class="sign-up">New here? Sign up <a href="register" class="text-teal-600">now!</a></p>
</div><!-- /card-container -->
  

</body> 